<div class="page-header">
  <h1><%= @book.name %></h1>
</div>

<div class="row">
  <div class="col-xs-4">
    <dt>Price</dt>
    <dd><%= number_to_currency @book.price %></dd>
  </div>
  <div class="col-xs-4">
    <dt>Author</dt>
    <dd><%= @book.author %></dd>
  </div>
  <div class="col-xs-4">
    <%= link_to "Update Book", edit_book_path(id: @book.id), class: 'btn btn-default' %>
    <%= link_to "Delete Book", book_path(id: @book.id), method: :delete, class: "btn btn-danger" %>
  </div>
</div>





<%= image_tag @book.photo_url %>
