<!DOCTYPE html>
<html>
<head>
  <title>SarahsLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <style>
  @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Parisienne';
  </style>
</head>
<body>
  <header>
        <h1><%=link_to 'The Iron Library', root_path %> </h1>
        <h4><%=link_to 'Add A Book', new_book_path%> || <%=link_to 'Add An Author', new_author_path%> || <%=link_to 'View All Authors', authors_path%></h4>

  </header>

  <% if notice %>
    <div class="alert alert-info" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>


<div class="container">
  <%= yield %>
</div>

  <div class="footer">
    c. 2016 Sarah Swift
  </div>
</body>
</html>
